<article class="prose prose-lg lg:prose-xl dark:prose-invert max-w-none">
  <p>
    <%= link_to "\u2190 Kembali ke semua tulisan", articles_path, class: "no-underline text-brand-accent hover:underline mb-8 block" %>
  </p>
  <h1><%= @article.title %></h1>
  <% if @article.published_at.present? %>
    <div class="mt-2 flex items-center text-sm text-gray-500 dark:text-gray-400">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 mr-2">
        <path d="M6.75 3a.75.75 0 01.75.75V5h9V3.75a.75.75 0 011.5 0V5h.75A2.25 2.25 0 0121 7.25v11A2.25 2.25 0 0118.75 20.5H5.25A2.25 2.25 0 013 18.25v-11A2.25 2.25 0 015.25 5H6V3.75A.75.75 0 016.75 3zM4.5 9v9.25c0 .414.336.75.75.75h13.5a.75.75 0 00.75-.75V9H4.5z"/>
      </svg>
      <time datetime="<%= @article.published_at.iso8601 %>">
        <%= @article.published_at.strftime("%B %d, %Y") %>
      </time>
    </div>
  <% end %>
  <% if @article.lead.present? %>
    <p class="lead"><%= @article.lead %></p>
  <% end %>
  <% if @article.content.present? %>
    <div class="mt-6">
      <%= @article.content %>
    </div>
  <% end %>
</article>
