<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <script src="https://cdn.tailwindcss.com"></script>
  <%= yield :title %>
  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "actiontext", media: "all" %>
  <%= javascript_importmap_tags %>

</head>
<body class="bg-gray-100 font-sans p-5">
  <%= yield %>
</body>
</html>
